body {
  margin: 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background-color: #ffffff;
  font-size: 20px;
  color: #36413f;
}
.cloud {
  position: relative;
  left: 310px;
  top: 40px;
  width: 200px;
}
.cloud2 {
  width: 200px;
  position: absolute;
  bottom: 340px;
  left: 220px;
}
.mountain {
  width: 75%;
  margin: 0 auto 0 auto;
  position: relative;
  top: 5px;
}

.top-container {
  background-color: #c1deae;
}
h1 {
  margin: 0;
  position: relative;
  bottom: 65px;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  font-size: 80px;
  text-shadow: 0.5px 0.5px rgb(19, 17, 17);
}
.developer {
  position: relative;
  bottom: 80px;
  font-family: "Roboto Slab", serif;
  color: #66bfbf;
  font-size: 1.95rem;
  margin: 0;
  text-shadow: 0.5px 0.6px rgb(15, 14, 14);
  font-weight: normal;
}
.skill {
  position: relative;
  top: 10px;
  margin: 20px auto 0 auto;
  color: #11999E;
}
.started {
  margin: 0 auto 40px auto;
  font-family: "Roboto Slab", serif;
  
}
.design {
  margin: 140px auto 0 auto;
  position: relative;
  bottom: 7px;
  color: #11999E;
}
.skill-row {
  width: 50%;
  margin: 70px auto 0 auto;
}
.movies-gif {
  margin: 0 auto 0 auto;
  width: 190px;
  float: right;
}
.instagram {
  margin-right: 10px;
  color: #4f95c4;
}
.rahul {
  position: relative;
  top: 10px;
  margin-top: 55px;
  margin-bottom: 20px;
}

hr {
  border-color: rgb(190, 190, 190);
  border-width: 6px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  margin-top: 85px;
}
.copyright {
  font-size: 15px;
  margin-bottom: 0;
  color: whitesmoke;
  padding-bottom: 10px;
}
.movies-head {
  color: #11999E;
  margin-top: 120px;
  margin-bottom: 0;
  position: relative;
  top: 35px;
  
}
.footer-link {
  color: #4f95c4;
}
.btn {
  color: white;
  font-family: sans-serif;
  background-color: rgb(26, 145, 224);
  border-radius: 30px;
  width: 110px;
  margin: 45px auto 0 auto;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, rgb(26, 145, 224), #1d577a);
  background-image: -moz-linear-gradient(top, rgb(26, 145, 224), #1d577a);
  background-image: -ms-linear-gradient(top, rgb(26, 145, 224), #1d577a);
  background-image: -o-linear-gradient(top, rgb(26, 145, 224), #1d577a);
  background-image: linear-gradient(to bottom, rgb(26, 145, 224), #1d577a);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #7700ff, #a848a2);
  background-image: -moz-linear-gradient(top, #7700ff, #a848a2);
  background-image: -ms-linear-gradient(top, #7700ff, #a848a2);
  background-image: -o-linear-gradient(top, #7700ff, #a848a2);
  background-image: linear-gradient(to bottom, #7700ff, #a848a2);
  text-decoration: none;
}
.touch {
  color: #11999E;
  margin: 60px auto 45px auto;

}
.coding-gif {
  margin: 90px 35px 25px auto; 
  width: 190px;
  float: left;
}

.best-thing {
  font-family: sans-serif;
  margin-bottom: 60px;
  margin-top: 70px;
}
h3 {
  margin: 10px auto 35px auto;
}
.freelance {
  margin: 0 auto 40px auto;
}
.bottom-container {
  margin: 85px auto 0 auto;
  background-color: #36413f;
  padding: 40px 0 25px;
}
a {
  margin: 15px 20px;
  text-decoration: none;
}
a:hover {
  color: #1f8a6f;
}
